body {
  font-family: monospace;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 3em;
  padding-right: 3em;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-12 {
  grid-column: span 12;
}

.col-11 {
  grid-column: span 11;
}

.col-10 {
  grid-column: span 10;
}

.col-9 {
  grid-column: span 9;
}

.col-8 {
  grid-column: span 8;
}

.col-7 {
  grid-column: span 7;
}

.col-6 {
  grid-column: span 6;
}

.col-5 {
  grid-column: span 5;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
button {
  background-color: #F99E77;
}

aside ul {
  list-style: none;
  display: inline-flex;
}
aside li {
  background-color: #40CDEF;
  margin-right: 3px;
}
aside a {
  text-decoration: none;
}

nav {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  nav .nav__item1 {
    display: none;
  }
}
.nav__menu {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.nav__logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}

.nav__nav {
  text-align: right;
  float: right;
}

.nav__nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

main {
  float: left;
  width: 100%;
}

main img {
  width: 100%;
}

aside {
  float: right;
  width: 100%;
}

.aside__nosotros, .aside__tags {
  border-bottom: 1px solid gray;
}

.input-menu {
  border-radius: 15px;
}

aside img {
  width: 100%;
}

@media (max-width: 768px) {
  aside {
    display: none;
  }
}
section {
  padding-top: 10px;
  text-align: center;
  width: 100%;
  height: 130px;
  background-color: #BABABA;
}

footer {
  text-align: center;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
